@model NewTestSix.Models.SubmitFormV2

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Sample submission form</h4>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div class="form-group">
                <label asp-for="ClientSampleID" class="control-label"></label>
                <input asp-for="ClientSampleID" class="form-control" />
                <span asp-validation-for="ClientSampleID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AcidStables" class="control-label"></label>
                <input asp-for="AcidStables" class="form-control" />
                <span asp-validation-for="AcidStables" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sulfurs" class="control-label"></label>
                <input asp-for="Sulfurs" class="form-control" />
                <span asp-validation-for="Sulfurs" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Trp" class="control-label"></label>
                <input asp-for="Trp" class="form-control" />
                <span asp-validation-for="Trp" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FAAs" class="control-label"></label>
                <input asp-for="FAAs" class="form-control" />
                <span asp-validation-for="FAAs" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.DropDownList("_sampleMatrix",
                    new SelectList(Enum.GetValues(typeof(SampleMatrixOptions))),
                    "Select sample matrix",
                    new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label asp-for="AdditionalComments" class="control-label"></label>
                <input asp-for="AdditionalComments" class="form-control" />
                <span asp-validation-for="AdditionalComments" class="text-danger"></span>
            </div>

            <input type="submit" value="Submit!" />
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}