<form action="/Form/FormOne" method="post">

    <span> Text Box String Data</span>
    <input type="text" name="textBoxStringData" /> <br />

    <span> Check Box string data</span>
    <input type="checkbox" name="checkboxData" /> <br />

    <span> Text box int data</span>
    <input type="number" name="textBoxIntData" /> <br />

    <input type="submit" value="Submit weakly typed form" />
</form>