@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sample Submission"; // sets the Title property of the ViewData dictionary to "Sample Submission". This is the browser tab title.
} @{ // the Title property is used in the <title> HTML element in the _Layout.cshtml file.
}
<h2>Sample Submission</h2>

<p> Fill in the required fields below.</p>

